<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/assets/img/fevicon.ico.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/login.css">
<!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-34">
                        Đăng nhập
                    </span>

                    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                        <input id="first-name" class="input100" type="text" name="username" placeholder="User name">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <input type="button" class="login100-form-btn" value="Login" onClick="display(this.form)" />
                        <!--anh sửa lại đoạn này rồi nhé. Lát em vào thì chỉnh hình ảnh nó đẹp mắt như ban đầu là được-->
                    </div>
                  
                    <div class="w-full text-center p-t-27 p-b-239">
                        <span class="txt1">
                            Quên mật khẩu
                        </span>

                        <a href="#" class="txt2">
                            Người dùng/ Mật khẩu?
                        </a>
                    </div>

                    <div class="w-full text-center">
                        <a href="#" class="txt3">
                            Đăng kí
                        </a>
                    </div>
                </form>

                <div class="login100-more" style="background-image: url('/assets/img/clinic_01.jpg');"></div>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="/assets/js/lib/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/lib/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/lib/popper.js"></script>
    <script src="/assets/js/lib/bootstrap1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/lib/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script src="/assets/js/lib/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/lib/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/lib/login.js"></script>
    <script type="text/javascript">
        function display(form) {
            if (form.username.value == "root") {
                if (form.pass.value == "root") {
                    location = "/View/Home/Home.html"
                } else {
                    location = "/View/Login/loginFailed.html"
                }
            } else {
                    location = "/View/Login/loginFailed.html"
            }
        }
    </script>
</body>
</html>