
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <title>Appoint My Doctor Form a Simple Appointment form Responsive Widget :: w3layouts</title>
    <meta name="keywords" content="Appoint My Doctor Form Responsive widget, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/css/lib/benhnhanInfo.css">
    <!-- google fonts  -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/img/fevicon.ico.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="../../assets/css/lib/bootstrap.min.css" rel="stylesheet" />
    <!-- Site CSS -->
    <link href="../../assets/css/lib/style.css" rel="stylesheet" />
    <!-- Colors CSS -->
    <link rel="stylesheet" href="../../assets/css/lib/colors.css">
    <!-- ALL VERSION CSS -->
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../assets/css/lib/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../assets/css/lib/custom.css">
    <!-- Modernizer for Portfolio -->
    <script src="js/modernizer.js"></script>
    <!-- [if lt IE 9] -->
</head>
<body>

    <header>
        <div class="header-top wow fadeIn">
            <div class="container1">
                <a class="navbar-brand" href="index.html"><img src="/assets/img/logo.png" alt="image"></a>
                <div class="right-header">
                    <div class="header-info">
                        <div class="info-inner">
                            <span class="icontop"><img src="/assets/img/phone.png" alt="#"></span>
                            <span class="iconcont"><a href="tel:800 123 456">800 123 456</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><img src="/assets/img/email.png" alt="#"></i></span>
                            <span class="iconcont"><a data-scroll href="mailto:info@yoursite.com">info@Lifecare.com</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><img src="/assets/img/clock.png" alt="#"></i></span>
                            <span class="iconcont"><a data-scroll href="#">Daily: 7:00am - 8:00pm</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom wow fadeIn">
            <div class="container1">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="active" href="index.html">Trang chủ</a></li>
                            <li><a data-scroll href="#about">Danh mục</a></li>
                            <li><a data-scroll href="#service">Dịch vụ</a></li>
                            <li><a data-scroll href="#doctors">Báo cáo</a></li>
                            <li><a data-scroll href="#price">Thống kê</a></li>
                            <li><a data-scroll href="#testimonials">Đăng nhập</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="serch-bar">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="w3ls-banner" style="margin-top: 155px;">
        <div class="container" style="background-color: #4f6373!important">
            <div class="heading">
                <h2 style="color: white"><b>Thông tin bệnh nhân</b></h2>
            </div>
            <div class="agile-form">
                <form class="form-benhnhan" >
                    <ul class="field-list" id="listForm">
                        <li>
                            <label class="form-label">
                                Họ và tên
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input">
                                <input type="text" name="patient_name" required fieldname="HotenBN">
                            </div>
                        </li>
                        <li>
                            <label class="form-label">
                                Giới tính
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input">
                                <select class="form-dropdown" name="gender" required fieldname="GTBN">
                                    <option value="">&nbsp;</option>
                                    <option value="1"> Nam </option>
                                    <option value="0"> Nữ </option>
                                </select>
                            </div>
                        <li>
                        <li>
                            <label class="form-label">
                                Số điện thoại
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input">
                                <input type="text" name="mobile_number" required fieldname="SDTBN">
                            </div>
                        </li>
                        <li>
                            <label class="form-label">
                                Ngày sinh
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input dob">
                                <span class="form-sub-label">
                                    <select name="day" class="day" fieldname="NgaysinhBN">
                                        <option>&nbsp;</option>
                                        <option value="1"> 1 </option>
                                        <option value="2"> 2 </option>
                                        <option value="3"> 3 </option>
                                        <option value="4"> 4 </option>
                                        <option value="5"> 5 </option>
                                        <option value="6"> 6 </option>
                                        <option value="7"> 7 </option>
                                        <option value="8"> 8 </option>
                                        <option value="9"> 9 </option>
                                        <option value="10"> 10 </option>
                                        <option value="11"> 11 </option>
                                        <option value="12"> 12 </option>
                                        <option value="13"> 13 </option>
                                        <option value="14"> 14 </option>
                                        <option value="15"> 15 </option>
                                        <option value="16"> 16 </option>
                                        <option value="17"> 17 </option>
                                        <option value="18"> 18 </option>
                                        <option value="19"> 19 </option>
                                        <option value="20"> 20 </option>
                                        <option value="21"> 21 </option>
                                        <option value="22"> 22 </option>
                                        <option value="23"> 23 </option>
                                        <option value="24"> 24 </option>
                                        <option value="25"> 25 </option>
                                        <option value="26"> 26 </option>
                                        <option value="27"> 27 </option>
                                        <option value="28"> 28 </option>
                                        <option value="29"> 29 </option>
                                        <option value="30"> 30 </option>
                                        <option value="31"> 31 </option>
                                    </select>
                                    <label class="form-sub-label1"> Ngày </label>
                                </span>
                                <span class="form-sub-label">
                                    <select name="month" fieldname="ThangSinhBN">
                                        <option>&nbsp;</option>
                                        <option value="1"> Tháng một </option>
                                        <option value="2"> Tháng hai </option>
                                        <option value="3"> Tháng ba </option>
                                        <option value="4"> Tháng tư </option>
                                        <option value="5"> Tháng năm </option>
                                        <option value="6"> Tháng sáu </option>
                                        <option value="7"> Tháng bảy </option>
                                        <option value="8"> Tháng tám </option>
                                        <option value="9"> Tháng chín </option>
                                        <option value="10"> Tháng mười </option>
                                        <option value="11"> Tháng mười một </option>
                                        <option value="12"> Tháng mười hai </option>
                                    </select>
                                    <label class="form-sub-label1"> Tháng </label>
                                </span>
                                <span class="form-sub-label">
                                    <input type="text" class="year" name="year" required fieldname="NamsinhBN">
                                    <label class="form-sub-label1"> Năm </label>
                                </span>
                            </div>
                        </li>
                        <li>
                            <label class="form-label">
                                Địa chỉ
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input add">
                                <span class="form-sub-label">
                                    <input type="text" name="street_address" placeholder=" " required fieldname="DiachiBN">

                                </span>
                            </div>
                        </li>
                        <li>
                            <label class="form-label">
                                Số CMND
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input add">
                                <span class="form-sub-label">
                                    <input type="text" name="street_address" placeholder=" " required fieldname="CMNDBN">
                                    <label class="form-sub-label1"> </label>
                                </span>
                            </div>
                        </li>
                        <li>
                            <label class="form-label">
                                E-Mail
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input">
                                <input type="email" name="email" required fieldname="EmailBN">

                            </div>
                        </li>
                        
                        <button class="inthongtinBN">In thông tin</button>
                    </ul>

                </form>
            </div>
        </div>
        <div class="copyright">
            <p>© 2020 Medical </p>
        </div>
    </div>
    <footer id="footer" class="footer-area wow fadeIn">
        <div class="container" style="background-color:white;">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo padding">
                        <a href=""><img src="/assets/img/logo.png" alt=""></a>
                        <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche artisan.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-info padding">
                        <h3>CONTACT US</h3>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> PO Box 16122 Collins Street West Victoria 8007 Australia</p>
                        <p><i class="fa fa-paper-plane" aria-hidden="true"></i> info@gmail.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> (+1) 800 123 456</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="subcriber-info">
                        <h3>SUBSCRIBE</h3>
                        <p>Get healthy news, tip and solutions to your problems from our experts.</p>
                        <div class="subcriber-box">
                            <form id="mc-form" class="mc-form">
                                <div class="newsletter-form">
                                    <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control" name="EMAIL">
                                    <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                                    <div class="clearfix"></div>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div>
                                        <!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div>
                                        <!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div>
                                        <!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="/assets/js/lib/jquery.min.js"></script>
<script src="/assets/js/lib/bootstrap.min.js"></script>

<script src="/assets/main/js/service.js"></script>
<script src="/assets/main/js/benhnhan.js"></script>
</html>