<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
    <!-- Meta tags -->
    <title>Appoint My Doctor Form a Simple Appointment form Responsive Widget :: w3layouts</title>
    <meta name="keywords" content="Appoint My Doctor Form Responsive widget, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="hangdoi.css">
    <!-- google fonts  -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <!-- External Css -->
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css" />
    <link rel="stylesheet" href="assets/css/et-line.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/css/plyr.css" />
    <link rel="stylesheet" href="assets/css/flag.css" />
    <link rel="stylesheet" href="assets/css/slick.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/jquery.nstSlider.min.css" />
    <!-- Favicon -->
    <link rel="icon" href="image/favicon.png">
    <link rel="apple-touch-icon" href="image/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="image/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="image/icon-114x114.png">
    <!-- google fonts  -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <link rel="shortcut icon" href="images/fevicon.ico.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Modernizer for Portfolio -->
    <script src="js/modernizer.js"></script>
    <!-- [if lt IE 9] -->
</head>
<body>
    <header>
        <div class="header-top wow fadeIn">
            <div class="container1">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="image"></a>
                <div class="right-header">
                    <div class="header-info">
                        <div class="info-inner">
                            <span class="icontop"><img src="images/phone-icon.png" alt="#"></span>
                            <span class="iconcont"><a href="tel:800 123 456">800 123 456</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll href="mailto:info@yoursite.com">info@Lifecare.com</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll href="#">Daily: 7:00am - 8:00pm</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom wow fadeIn">
            <div class="container1">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="active" href="index.html">Home</a></li>
                            <li><a data-scroll href="#about">About us</a></li>
                            <li><a data-scroll href="#service">Services</a></li>
                            <li><a data-scroll href="#doctors">Doctors</a></li>
                            <li><a data-scroll href="#price">Price</a></li>
                            <li><a data-scroll href="#testimonials">Testimonials</a></li>
                            <li><a data-scroll href="#getintouch">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="serch-bar">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="w3ls-banner" style="margin-top: 165px;">
        <div class="container">
            <div class="heading">
                <h2 style="font-size:25px;"><b>DANH SÁCH BỆNH NHÂN ĐỢI XÉT NGHIỆM</b></h2>
            </div>
        </div>
        <div class="filtered-job-listing-wrapper">
            <div class="job-view-controller-wrapper">
                <div class="job-view-controller">
                    <div class="controller list active">
                        <i data-feather="menu"></i>
                    </div>
                    <div class="controller grid">
                        <i data-feather="grid"></i>
                    </div>
                    <div class="job-view-filter">
                        <select class="selectpicker">
                            <option value="" selected>Most Recent</option>
                            <option value="california">Top Rated</option>
                            <option value="las-vegas">Most Popular</option>
                        </select>
                    </div>
                </div>
                <div class="showing-number">
                    <span>Showing 1–12 of 28 Jobs</span>
                </div>
            </div>
            <div class="job-filter-result">
                <div class="job-list">
                    <div class="thumb">

                    </div>
                    <div class="body">
                        <div class="content">
                            <h4>Nguyễn Đức Toàn</h4>
                            <div class="info">
                                <span class="office-location" fieldname="GTBN"><i data-feather="map-pin"></i>Nam</span>
                                <span class="job-type temporary" fieldname="DiaChiBN"><i data-feather="clock"></i>Hà Nội</span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Xét Nghiệm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">

                    </div>
                    <div class="body">
                        <div class="content">
                            <h4>Nguyễn Đức Toàn</h4>
                            <div class="info">
                                <span class="office-location" fieldname="GTBN"><i data-feather="map-pin"></i>Nam</span>
                                <span class="job-type temporary" fieldname="DiaChiBN"><i data-feather="clock"></i>Hà Nội</span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Xét Nghiệm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apply-popup">
                    <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="container">
                                <div class="heading">
                                    <h2><b>PHIẾU KẾT QUẢ XÉT NGHIỆM</b></h2>
                                </div>
                                <div class="agile-form">
                                    <form action="/" method="post">
                                        <ul class="field-list">
                                            <li>
                                                <label class="form-label">
                                                    Họ Và Tên
                                                    <span class="form-required"> * </span>
                                                </label>
                                                <div class="form-input">
                                                    <input type="text" name="patient_name" placeholder="Nhập họ tên bệnh nhân" required fieldname="HoTenBN">
                                                </div>
                                            </li>
                                            <li>
                                                <label class="form-label">
                                                    Giới Tính
                                                    <span class="form-required"> * </span>
                                                </label>
                                                <div class="form-input">
                                                    <select class="form-dropdown" name="gender" required fieldname="GTBN">
                                                        <option value="">&nbsp;</option 
                                                        <option value="Male"> Nam </option>
                                                        <option value="Female"> Nữ </option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="form-label">
                                                    SỐ CMND
                                                    <span class="form-required"> * </span>
                                                </label>
                                                <div class="form-input">
                                                    <input type="text" name="mobile_number" placeholder="Số điện thoại" required fieldname="CMND"
                                                </div>
                                            </li>
                                            <li>
                                                <label class="form-label">
                                                    Ngày Sinh
                                                    <span class="form-required"> * </span>
                                                </label>
                                                <div class="form-input dob">
                                                    <span class="form-sub-label">
                                                        <select name="day" class="day" fieldname="NgaySinhBN">
                                                            <option>&nbsp;</option>
                                                            <option value="1"> 1 </option>
                                                            <option value="2"> 2 </option>
                                                            <option value="3"> 3 </option>
                                                            <option value="4"> 4 </option>
                                                            <option value="5"> 5 </option>
                                                            <option value="6"> 6 </option>
                                                            <option value="7"> 7 </option>
                                                            <option value="8"> 8 </option>
                                                            <option value="9"> 9 </option>
                                                            <option value="10"> 10 </option>
                                                            <option value="11"> 11 </option>
                                                            <option value="12"> 12 </option>
                                                            <option value="13"> 13 </option>
                                                            <option value="14"> 14 </option>
                                                            <option value="15"> 15 </option>
                                                            <option value="16"> 16 </option>
                                                            <option value="17"> 17 </option>
                                                            <option value="18"> 18 </option>
                                                            <option value="19"> 19 </option>
                                                            <option value="20"> 20 </option>
                                                            <option value="21"> 21 </option>
                                                            <option value="22"> 22 </option>
                                                            <option value="23"> 23 </option>
                                                            <option value="24"> 24 </option>
                                                            <option value="25"> 25 </option>
                                                            <option value="26"> 26 </option>
                                                            <option value="27"> 27 </option>
                                                            <option value="28"> 28 </option>
                                                            <option value="29"> 29 </option>
                                                            <option value="30"> 30 </option>
                                                            <option value="31"> 31 </option>
                                                        </select>
                                                        <label class="form-sub-label1"> Ngày </label>
                                                    </span>
                                                    <span class="form-sub-label">
                                                        <select name="month" fieldname="ThangSinhBN">
                                                            <option>&nbsp;</option>
                                                            <option value="January"> 01 </option>
                                                            <option value="February"> 02 </option>
                                                            <option value="March"> 03 </option>
                                                            <option value="April"> 04 </option>
                                                            <option value="May"> 05 </option>
                                                            <option value="June"> 06 </option>
                                                            <option value="July"> 07 </option>
                                                            <option value="August"> 08 </option>
                                                            <option value="September"> 09 </option>
                                                            <option value="October"> 10 </option>
                                                            <option value="November"> 11 </option>
                                                            <option value="December"> 12 </option>
                                                        </select>
                                                        <label class="form-sub-label1"> Tháng </label>
                                                    </span>
                                                    <span class="form-sub-label">
                                                        <input type="text" class="year" name="year" placeholder=" Enter Year" required fieldname="NamSinhBN">
                                                        <label class="form-sub-label1"> Năm </label>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="form-label">
                                                    Địa Chỉ
                                                </label>
                                                <div class="form-input">
                                                    <input type="text" fieldname="DiaChi">
                                                </div>
                                            </li>
                                            <li>
                                                <label class="form-label">
                                                    Kết quả xét nghiệm
                                                </label>
                                                <div class="table" style=" margin-top: 10px;">
                                                    <table class="table-basic kquaXN" border="1" style="border-collapse: collapse;width: 558px; ">
                                                        <thead>
                                                        <th style="width: 40%;background-color: #678">Tên Xét Ngiệm</th>
                                                        <th style="background-color: #678">Trị số bình thường</th>
                                                        <th style="background-color: #678">Kết quả</th>

                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>aaaa</td>
                                                                <td>200.000</td>
                                                                <td>111</td>
                                                            </tr>
                                                            <tr>
                                                                <td> bbb </td>
                                                                <td>200.000</td>
                                                                <td>111</td>
                                                            </tr>
                                                            <tr>
                                                                <td> ccc </td>
                                                                <td>200.000</td>
                                                                <td>111</td>
                                                            </tr>
                                                            <tr>
                                                                <td> ddd </td>
                                                                <td>200.000</td>
                                                                <td>111</td>
                                                            </tr>
                                                            <tr>
                                                                <td> eee </td>
                                                                <td>200.000</td>
                                                                <td>111</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>

                                        </ul>
                                        <div style="display:flex">
                                            <input class="layKQ" type="submit" value="IN KẾT QUẢ">
                                            <input class="inKQ" type="submit" value="LẤY KẾT QUẢ">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="pagination-list text-center">
            <nav class="navigation pagination">
                <div class="nav-links">
                    <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                    <a class="page-numbers" href="#">1</a>
                    <span aria-current="page" class="page-numbers current">2</span>
                    <a class="page-numbers" href="#">3</a>
                    <a class="page-numbers" href="#">4</a>
                    <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
            </nav>
        </div>
    </div>
    </div>
    <footer id="footer" class="footer-area wow fadeIn">
        <div class="container" style="background-color:white;>
            <div class="row">
                <div class="col-md-4">
                    <div class="logo padding">
                        <a href=""><img src="images/logo.png" alt=""></a>
                        <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche artisan.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-info padding">
                        <h3>CONTACT US</h3>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> PO Box 16122 Collins Street West Victoria 8007 Australia</p>
                        <p><i class="fa fa-paper-plane" aria-hidden="true"></i> info@gmail.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> (+1) 800 123 456</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="subcriber-info">
                        <h3>SUBSCRIBE</h3>
                        <p>Get healthy news, tip and solutions to your problems from our experts.</p>
                        <div class="subcriber-box">
                            <form id="mc-form" class="mc-form">
                                <div class="newsletter-form">
                                    <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control" name="EMAIL">
                                    <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                                    <div class="clearfix"></div>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div>
                                        <!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div>
                                        <!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div>
                                        <!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/jquery.nstSlider.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/visible.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/plyr.js"></script>
    <script src="assets/js/tinymce.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="js/custom.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src="js/map.js"></script>
</body>
</html>