<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <title>Appoint My Doctor Form a Simple Appointment form Responsive Widget :: w3layouts</title>
    <meta name="keywords" content="Appoint My Doctor Form Responsive widget, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="xetnghiem.css">
    <!-- google fonts  -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="xetnghiem.css">
    <!-- google fonts  -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <link rel="shortcut icon" href="images/fevicon.ico.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Modernizer for Portfolio -->
    <script src="js/modernizer.js"></script>
    <!-- [if lt IE 9] -->
</head>
<body>
    <header>
        <div class="header-top wow fadeIn">
            <div class="container1">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="image"></a>
                <div class="right-header">
                    <div class="header-info">
                        <div class="info-inner">
                            <span class="icontop"><img src="images/phone-icon.png" alt="#"></span>
                            <span class="iconcont"><a href="tel:800 123 456">800 123 456</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll href="mailto:info@yoursite.com">info@Lifecare.com</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll href="#">Daily: 7:00am - 8:00pm</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom wow fadeIn">
            <div class="container1">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="active" href="index.html">Trang chủ</a></li>
                            <li><a data-scroll href="#about">Danh mục</a></li>
                            <li><a data-scroll href="#service">Dịch vụ</a></li>
                            <li><a data-scroll href="#doctors">Báo cáo</a></li>
                            <li><a data-scroll href="#price">Thống kê</a></li>
                            <li><a data-scroll href="#testimonials">Đăng nhập</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="serch-bar">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="w3ls-banner" style="margin-top: 155px;">
        <div class="container"style="background-color: #4f6373!important">
            <div class="heading">
                <h2 style="color: white"><b>XÉT NGHIỆM</b></h2>
            </div>
            <div class="agile-form">
                <form action="/" method="post">
                    <ul class="field-list">
                        <li>
                            <label class="form-label">
                                Tên
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input">
                                <input type="text" name="patient_name" placeholder="Nhập tên" required fieldname="TenXN">
                            </div>
                        </li>

                        <!--<li>
                            <label class="form-label">
                                Trị Số Bình Thường Nam

                            </label>
                            <div class="form-input">
                                <input type="text" >
                            </div>
                        </li>-->
                        <li>
                            <label class="form-label">
                                Trị số bình thường nam
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input add">
                                <span class="form-sub-label">
                                    <input type="text" name="street_address" placeholder=" " required fieldname="TriSoNamMin">

                                </span>
                                <span> - </span>
                                <span class="form-sub-label">
                                    <input type="text" name="street_address2" placeholder=" " required fieldname="TriSoNamMax">

                                </span>
                            </div>
                        </li>

                        <li>
                            <label class="form-label">
                                Trị số bình thường nữ
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input add">
                                <span class="form-sub-label">
                                    <input type="text" name="street_address" placeholder=" " required fieldname="TriSoNuMin">

                                </span>
                                <span> - </span>
                                <span class="form-sub-label">
                                    <input type="text" name="street_address2" placeholder=" " required fieldname="TriSoNuMax">
                                </span>
                            </div>
                        </li>
                        <li>
                            <label class="form-label">
                                Đơn vị
                            </label>
                            <div class="form-input">
                                <input type="text" fieldname="DonVi">
                            </div>
                        </li>
                        <li>
                            <label class="form-label">
                                Đơn Giá
                            </label>
                            <div class="form-input">
                                <input type="text" fieldname="DonGia">
                            </div>
                        </li>
                    </ul>
                    <input class="saveXN" type="submit" value="Lưu" style="margin-left:470px">
                </form>
            </div>
        </div>
        <div class="copyright">
            <p>© 2020 Medical </p>
        </div>
    </div>
    <footer id="footer" class="footer-area wow fadeIn">
        <div class="container" style="background-color:white;>
            <div class="row">
                <div class="col-md-4">
                    <div class="logo padding">
                        <a href=""><img src="images/logo.png" alt=""></a>
                        <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche artisan.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-info padding">
                        <h3>CONTACT US</h3>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> PO Box 16122 Collins Street West Victoria 8007 Australia</p>
                        <p><i class="fa fa-paper-plane" aria-hidden="true"></i> info@gmail.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> (+1) 800 123 456</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="subcriber-info">
                        <h3>SUBSCRIBE</h3>
                        <p>Get healthy news, tip and solutions to your problems from our experts.</p>
                        <div class="subcriber-box">
                            <form id="mc-form" class="mc-form">
                                <div class="newsletter-form">
                                    <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control" name="EMAIL">
                                    <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                                    <div class="clearfix"></div>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div>
                                        <!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div>
                                        <!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div>
                                        <!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>